$primary: #2563eb;

.header {
  font-size: 2rem;
  font-weight: bold;
}

.sidebar {
  background: darken(#2563eb, 18%);
  color: white;
}

.sidebar listview {
  background: transparent;
}

.sidebar listview row:selected {
  background: transparent;
  background: salmon;
}

.message-window {
  background: transparent;
  background: white;
  color: #000;
}

.message-window listview {
  background: transparent;
}
